<h3>Statistic</h3>
<table class="table">
    <thead>
        <th>Total Sales</th>
        <th>By loyalty points</th>
        <th>By credit card</th>
        <th>Refund</th>
    </thead>
    <tbody>
        <td><%=stat.sales%></td>
        <td><%=stat.point%></td>
        <td><%=stat.card%></td>
        <td><%=stat.refund%></td>
    </tbody>
</table>